*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/**Header styling
============================================================================================================================================**/

/* This first section is a simple "reset". It allows the navbar to push up against the top of the browser window with no white space around it. This code also sets the default font for your whole page. Put it at the very top of your css page.  */
html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  
  /* This class is applied to the containing div <div class="nav"> and is used to set the background color and height of the navbar */
  .nav {
    background: #000;
    height: 60px; /* set same as height & line-height below */
  }
  
  /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
  .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; /* should be the same as line-height */
    line-height: 60px; /* should be the same as height */
    padding: 0 40px; /* "0" sets top and bottom padding to none */
  }
  
  /* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
  .nav li:hover {
    background: red;
    transition: background .3s;
  }
  
  /* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
  .nav-link {
    color: #fff;
    text-decoration: none;
  }


  /**Carousel section
  ===============================================================================================================================================**/

  .scene {
    border: 1px solid #CCC;
    margin: 40px 0;
    position: relative;
    width: 210px;
    height: 140px;
    margin: 80px auto;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .carousel__cell {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
  }
  
  .carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }
  
  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
  .carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
  .carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
  .carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
  .carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
  .carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
  .carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
  
  
  
  .carousel-options {
    text-align: center;
    position: relative;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.8);
  }